body {
    font-family: sans-serif;
    margin: 100px auto;
    padding: 0;
    background: linear-gradient(135deg,#00feba,#5b548a);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

}

.container {
    background-color: #ebfffc;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 2%;
    box-shadow:10px 20px 20px #00feba;
}

h1 {
    text-align: center;
    text-decoration:underline;

}
h1:hover{
    font-style: italic;
    color: blue;
}

div {
    margin-bottom: 10px;
}

label {
    margin-left: 10px;
    color: rgb(0, 0, 0);
    display: inline-block;
    width: 75px;
}

input[type="number"] {
    width: 100px;

}
.hh{

    border: 2px solid black;
    border-radius: 8px;
}
button {
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    margin: 0 auto;
}
button:hover{
    color: blue;
    font-size: larger;
}
#result {
    margin-top:0px;
    background-color:black;
    color: white;
    margin: 20px auto;
    text-align: center;
}